<footer class="shadow-[0px_0px_2px_rgba(23,26,31,0.12),0px_0px_1px_rgba(23,26,31,0.07)] bg-grey-DEFAULT pt-12 pb-6 px-6">
  <div class="max-w-6xl mx-auto">
    <div class="text-center mb-12">
      <div class="flex justify-center items-center gap-2 mb-6 text-2xl font-bold">
        <div class="flex gap-1">
          <img src="{{ '/assets/images/logo/solobooks-text.svg' | relative_url }}" alt="{{ site.data.translations[page.lang].site_name }}" class="h-6 md:h-10" />
        </div>
      </div>
      <div class="max-w-md mx-auto">
        <h3 class="mb-5 text-gray-800">{{ site.data.translations[page.lang].footer.subscribe }}</h3>
        <form class="flex bg-gray-200 rounded-lg overflow-hidden">
          <input type="email" placeholder="{{ site.data.translations[page.lang].footer.input_placeholder }}" class="flex-1 px-4 py-3 bg-transparent outline-none" />
          <button type="submit" class="px-6 py-3 bg-blue-300 text-gray-800 hover:bg-blue-400">
            {{ site.data.translations[page.lang].footer.subscribe_button }}
          </button>
        </form>
      </div>
    </div>

    <div class="flex justify-evenly gap-8 md:mb-12 mb-6 flex-col md:flex-row">
      {% for section in site.data.translations[page.lang].footer.sections %}
      <div>
        <h4 class="text-gray-800 mb-4 text-lg font-bold">{{ section.title }}</h4>
        <ul class="space-y-3 footer__body">
          {% for link in section.links %}
          <li><a href="{{ link.url }}" class="hover:text-gray-800">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>

    <div class="flex flex-col md:flex-row justify-between items-center pt-6 gap-4">
      <div class="flex md:flex-row md:justify-between md:items-center items-start flex-col w-full gap-4 md:gap-2">
        <select id="language-switcher" class="px-4 py-2 bg-gray-200 rounded-lg text-gray-500 cursor-pointer">
          <option value="/" {% if page.lang == 'de' %}selected{% endif %}>Deutsch</option>
          <option value="/en/" {% if page.lang == 'en' %}selected{% endif %}>English</option>
        </select>
        <script>
          document.getElementById("language-switcher").addEventListener("change", function () {
            let newLang = this.value;
            let currentPath = window.location.pathname.replace(/^\/(en\/)?/, ""); // Remove lang prefix
            window.location.href = newLang + currentPath;
          });
        </script>
        <span class="footer__body !text-base">© 2025 Solobooks</span>
      </div>
      <div class="flex md:flex-row md:justify-between items-start flex-col justify-end w-full gap-4 md:gap-2">
        <div class="flex flex-col md:flex-row gap-5 text-gray-500 mt-4 md:mt-0">
          {% for link in site.data.translations[page.lang].footer.policy_links %}
          <a href="{{ link.url }}" class="footer__body hover:text-black">{{ link.text }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
