<!DOCTYPE html>
<html lang="{{ page.lang | default: 'de' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.data.translations[page.lang].title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}"
    />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}"
    /> -->
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}"
    /> -->

    <!-- Canonical URL -->
    {% if page.lang == "en" %}
    <link rel="canonical" href="https://solobooks.de/en/" />
    {% else %}
    <link rel="canonical" href="https://solobooks.de/" />
    {% endif %}

    <!-- Hreflang for SEO -->
    <link rel="alternate" hreflang="de" href="https://solobooks.de/" />
    <link rel="alternate" hreflang="en" href="https://solobooks.de/en/" />
  </head>
  <body>
    {% include header.html %}
    <!-- Include header partial -->

    <main class="px-2 md:px-12 bg-white">{{ content }}</main>

    {% include footer.html %}
    <!-- Include footer partial -->
  </body>
</html>
